$windowColor: #dddfe6;
$containerColor: #AFB4A6;
$logoColor1: #6a60a9;
$logoColor2: #5c196b;
$shadowColor: rgba(139, 134, 135, 1);
$darkShadowColor: #3f4040;
$menuGrayColor: #7C7877;

$logoFont1: 'Chango', cursive;
$logoFont2: 'Ultra', serif;
$logoFont3: 'Sonsie One', cursive;
$mainFont: 'Work Sans', sans-serif;