@import "./src/stylePartials/variables";

.serverAnswer_Container {
  h3 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.5rem;
    font-family: $mainFont;
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }
  .yes {
    background-color: green;
    color: white;
  }
  .no {
    background-color: red;
    color: white;
  }
}
