@import "./src/stylePartials/variables";

.searchOption {
  background-color: $containerColor;
  min-height: 449px;
  margin-top: 3.35rem;
  margin-bottom: 1.04rem;
  padding: 1rem;

  h4 {
    font-size: 2rem;
    color: $menuGrayColor;

    strong {
      color: $darkShadowColor;
      font-weight: 700;
    }
  }

  .typeReturn {
    font-family: $mainFont;
    font-size: 1.2rem;
    font-weight: 700;
    min-width: 300px;
    color: $logoColor2;
    padding: 1rem 0.4rem;
    margin: 1rem 0;
    border-radius: 1rem;

    &:hover {
      background-color: #ccced5;
      cursor: pointer;
    }

    &:active {
      color: $logoColor1;
    }
  }

  form {
    font-family: $mainFont;
    margin: 3rem 2rem;

    label {
      font-size: 1.6rem;
      color: $logoColor2;
    }

    .ownDateDiv {
      margin-top: 2rem;
      display: flex;
      align-items: center;
    }

    input {
      font-family: $mainFont;
      font-size: 1.4rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0.3rem 0.5rem;

    }

    #bankAccNr {
      width: 16rem;
      font-size: 1rem;
    }

    #userDate {
      width: 14rem;
      margin-left: 1rem;
    }

    p {
      font-size: 1.6rem;
      color: $logoColor2;
      margin-top: 2rem;

      span {
        color: $darkShadowColor;
      }
    }

    button {
      font-family: $mainFont;
      width: 170px;
      height: 60px;
      font-size: 1.2rem;
      font-weight: 700;
      color: $logoColor2;
      border-radius: 1rem;
      margin-top: 2rem;

      &:hover {
        background-color: #ccced5;
        cursor: pointer;
      }

      &:active {
        color: $logoColor1;
      }
    }
  }
}

@media screen and (min-width: 475px) {
  .searchOption form #bankAccNr, .searchOption form #nipNumber,
  .searchOption form #regonNr {
    width: 19rem;
  }
}

@media screen and (min-width: 590px) {
  .searchOption form #bankAccNr, .searchOption form #nipNumber,
  .searchOption form #regonNr {
    width: 25rem;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 895px) {
  .searchOption form #bankAccNr, .searchOption form #nipNumber,
  .searchOption form #regonNr {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 920px) {
  .searchOption .oneByBank, .searchOption .oneByNip, .searchOption .oneByRegon {
    flex-direction: row;
    justify-content: space-between;

    .typeReturn {
      margin-right: 2rem;
    }
  }
}

.hideData {
  display: none;
}

.server_error {
  font-size: 1.8rem;
  color: red;
}

.metaError {
  color: red;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.activeInput {
  background-color: $logoColor1;
}

.ownDateCheckbox {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
  position: relative;
  top: -5px;

  &:hover {
    cursor: pointer;
  }
}